h1
{
     color: white;
}

body
{
      background-color: brown;
}

#soupe
{

         width: 800px;
         margin: 0 auto;
         background-color: brown;
         text-align: center;
         align-content: center;
}

ul li
{
	list-style-type: none;
}